<p>ここはpostsのesです</p>
<%= @post.name %>
<%= @post.content %>

<% if @comments %>
    <% @comments.each do |comment| %>
        <%= comment.comment %>
        <%= comment.content %>
    <% end %>
<% else %>
    <p>コメントが登録されていません</p>
<% end %>