<div class="alert">
    <% @company.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
</div>
<div class="newcompany_form">
    <%= form_tag("/posts/createcompany") do %>
        <div class="mb-3">
        <label class="form-label">登録したい企業名を入力して送信を押してください</label>
        <input name="name" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">送信</button>
    <% end %>
</div>