<p>※このメールは自動送信メールです。</p>

<p><%= @resource.email %> 様</p>

<p>ESらぼ運営でございます。</p>

<p>パスワードが変更がリクエストされたことをお知らせいたします。</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>パスワードは新しく設定されるまでは変更されません。</p>

<p>今後ともよろしくお願いいたします。</p>